@import '/src/App.scss';
.chat {
    @include main;
    @include col;
    width: 100%;
    align-items: center;
    li {
        width: 100%;
        @include row;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .minus {
            font-size: 14px;
            color: rgba(0, 0, 0, .5);
        }
        .meta-data {
            @include row;
            width: 100%;
            img {
                width: 50px;
                height: 50px;
                border-radius: 12px;
                margin-right: 10px;
            }
            section {
                @include col;
                justify-content: center;
                width: 100%;
                .data {
                    @include row;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    padding-right: 20px;
                    .name {
                        margin-bottom: 4px;
                        margin-right: 10px;
                    }
                    .red-dot {
                        font-size: 12px;
                        color: white;
                        padding: 6px 8px;
                        background: red;
                        font-weight: 600;
                        border-radius: 50%;
                      }
                    .alarm {
                        font-size: 12px;
                        font-weight: 600;
                        padding: 4px 6px;
                        border-radius: 12px;
                        background: red;
                        color: white;

                    }
                }
                    .content {
                        color: $main-gray;
                    }
            }
        }
    }

    .chat-remove-modal {
        position: absolute;
        bottom: 20%;
        padding: 10px 20px;
        background: #eee;
        border-radius: 5px;
        @include col;
        align-items: center;
        p {
            font-size: 16px;
        }
        .chat-title {
            margin-bottom: 5px;
        }
        p:nth-child(2) {
            margin-bottom: 10px;
        }
        button {
            font-size: 14px;
            padding: 8px 12px;
        }
        button:nth-child(1) {
            margin-right: 12px;
        }
    }
}