@import '/src/App.scss';
.search {
    @include main;
    .search-form {
        margin-bottom: 20px;
        input {
            width: 280px;
            height: 30px;
            padding: 4px;
            outline: none;
            border-radius: 7px;
            border: 1px solid $main-gray;
            margin-right: 10px;
        }
        .cancel-btn {
            font-size: 18px;
        }
    }
    ul {
        li {
            @include row;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
            img {
                width: 50px;
                height: 50px;
                border-radius: 12px;
                margin-right: 10px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}