@import '../App.scss';

.chating-room {
    padding: 0 20px;
    background: #eee;
    height: 92.2%;
    position: absolute;
    top: 0;
    width: 100%;
    nav {
        @include row;
        align-items: center;
        justify-content: space-between;
        margin: {
            top: 60px;
            bottom: 40px;
        }
        i, p {
            font-size: 20px;
        }
        div {
            width: 10px;
        }
    }
    /* 채팅란 */
    .chating-form {
        @include col;
        height: 84.5%;
        overflow: scroll;
        .you {
            @include row;
            align-items: flex-end;
            margin-bottom: 20px;
            position: relative;
            img {
                width: 40px;
                height: 40px;
                border-radius: 12px;
                margin-right: 10px;
            }
            .meta-info {
                @include row;
                align-items: flex-end;
                p {
                    font-size: 14px;
                    margin-bottom: 12px;
                }
                .comments {
                    padding: 6px 8px;
                    background: white;
                    border-radius: 0 5px 5px 5px;
                    margin-right: 4px;
                    font-size: 16px;
                }
            }
            .times {
                font-size: 10px;
                color: $main-gray;
                position: absolute;
                bottom: -8px;
                left: 150px;
            }
        }
            .me {
                display: flex;
                flex-direction: row-reverse;
                position: relative;
                margin-bottom: 10px;
            .comment {
                font-size: 16px;
                padding: 8px 10px;
                background: $main-blue;
                color: white;
                border-radius: 5px 0 5px 5px;
                margin-left: 5px;
            }
            .time {
                font-size: 10px;
                color: $main-gray;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
            }
        }
    }
    .chating-input {
        position: absolute;
        bottom: 10px;
        left: 0;
        @include row;
        justify-content: center;
        align-items: center;
        width: 100%;
        input {
            width: 350px;
            height: 30px;
            border-radius: 16px;
            border: 1px solid $main-gray;
            outline: none;
            padding: {
                left: 10px;
            }
        }
        button {
            position: absolute;
            right: 30px;
            border: none;
            background: transparent;
            i {
                font-size: 18px;
            }
        }
    }
}