@import '/src/App.scss';

.delete {
    margin-top: 40px;
    @include main;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    .delete-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    p {
        color: black;
        margin-bottom: 20px;
    }
    .delete-btns {
        @include col;
            button {
                font-size: 20px;
                width: 300px;
                height: 60px;
                border: none;
            }
            button:nth-child(1) {
                border-bottom: 1px solid white;
                border-radius: 8px 8px 0 0;
            }
            button:last-child {
                border-radius: 0 0 8px 8px;
            }
        }
    }
}