@import '/src/App.scss';

.chating-room {
    padding: 0 20px;
    background: #eee;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    nav {
        @include row;
        align-items: center;
        justify-content: space-between;
        margin: {
            top: 60px;
            bottom: 40px;
        }
        i, p {
            font-size: 20px;
        }
        div {
            width: 10px;
        }
    }
    /* 채팅란 */
    .chating-form {
        @include col;
        height: 79%;
        overflow: scroll;
        
    }
    .chating-input {
        position: absolute;
        bottom: 10px;
        left: 0;
        @include row;
        justify-content: center;
        align-items: center;
        width: 100%;
        input {
            width: 350px;
            height: 30px;
            border-radius: 16px;
            border: 1px solid $main-gray;
            outline: none;
            padding: {
                left: 10px;
            }
        }
        button {
            position: absolute;
            right: 30px;
            border: none;
            background: transparent;
            i {
                font-size: 18px;
            }
        }
    }
}